.language-switcher-language-url.block-language a span.flag {
    background: url("img/flags-sprite.png") no-repeat top left;
    display: inline-block;
}
.language-switcher-language-url.block-language a[hreflang="af"] span.flag { background-position: 0 0; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="ar"] span.flag { background-position: 0 -22px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="be"] span.flag { background-position: 0 -44px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="bg"] span.flag { background-position: 0 -66px; width: 20px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="bo"] span.flag { background-position: 0 -88px; width: 19px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="ca"] span.flag { background-position: 0 -110px; width: 17px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="cs"] span.flag { background-position: 0 -132px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="da"] span.flag { background-position: 0 -154px; width: 16px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="de"] span.flag { background-position: 0 -176px; width: 20px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="el"] span.flag { background-position: 0 -198px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="en"] span.flag { background-position: 0 -220px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="eo"] span.flag { background-position: 0 -242px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="es"] span.flag { background-position: 0 -264px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="et"] span.flag { background-position: 0 -286px; width: 19px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="eu"] span.flag { background-position: 0 -308px; width: 16px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="fa"] span.flag { background-position: 0 -330px; width: 21px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="fi"] span.flag { background-position: 0 -352px; width: 20px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="fil"] span.flag { background-position: 0 -374px; width: 20px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="fo"] span.flag { background-position: 0 -396px; width: 17px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="fr"] span.flag { background-position: 0 -418px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="ga"] span.flag { background-position: 0 -440px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="gl"] span.flag { background-position: 0 -462px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="he"] span.flag { background-position: 0 -484px; width: 17px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="hi"] span.flag { background-position: 0 -506px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="hr"] span.flag { background-position: 0 -528px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="hu"] span.flag { background-position: 0 -550px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="id"] span.flag { background-position: 0 -572px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="is"] span.flag { background-position: 0 -594px; width: 17px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="it"] span.flag { background-position: 0 -616px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="ja"] span.flag { background-position: 0 -638px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="km"] span.flag { background-position: 0 -660px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="ko"] span.flag { background-position: 0 -682px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="lb"] span.flag { background-position: 0 -704px; width: 20px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="lt"] span.flag { background-position: 0 -726px; width: 19px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="lv"] span.flag { background-position: 0 -748px; width: 19px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="mn"] span.flag { background-position: 0 -770px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="ms"] span.flag { background-position: 0 -792px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="nb"] span.flag { background-position: 0 -814px; width: 16px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="nl"] span.flag { background-position: 0 -836px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="nn"] span.flag { background-position: 0 -858px; width: 16px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="pl"] span.flag { background-position: 0 -880px; width: 19px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="pt-br"] span.flag { background-position: 0 -902px; width: 17px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="pt-pt"] span.flag { background-position: 0 -924px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="ro"] span.flag { background-position: 0 -946px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="ru"] span.flag { background-position: 0 -968px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="sco"] span.flag { background-position: 0 -990px; width: 20px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="se"] span.flag { background-position: 0 -1012px; width: 16px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="sk"] span.flag { background-position: 0 -1034px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="sl"] span.flag { background-position: 0 -1056px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="so"] span.flag { background-position: 0 -1078px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="sq"] span.flag { background-position: 0 -1100px; width: 17px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="sr"] span.flag { background-position: 0 -1122px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="sv"] span.flag { background-position: 0 -1144px; width: 19px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="tg"] span.flag { background-position: 0 -1166px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="th"] span.flag { background-position: 0 -1188px; width: 16px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="tl"] span.flag { background-position: 0 -1210px; width: 24px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="tr"] span.flag { background-position: 0 -1232px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="uk"] span.flag { background-position: 0 -1254px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="vi"] span.flag { background-position: 0 -1276px; width: 18px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="zh-hans"] span.flag { background-position: 0 -1298px; width: 16px; height: 12px; }
.language-switcher-language-url.block-language a[hreflang="zh-hant"] span.flag { background-position: 0 -1320px; width: 16px; height: 12px; }